<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="theme-color" content="#000000">
	<title>Pavel Rafeev | Frontend developer</title>
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
	<link rel="stylesheet" href="./css/style.css">
</head>
<body>
<header>
	<div class="header wrapper">
		<a href="#" target="_blank" class="header__link">Сайт клиники Wellpoint</a>
		<div class="header__param">
			<div class="header__info header__info-adress">Выбрргское шоссе, д.17, к. 8</div>
			<a href="tel:+7(812)1234567" class="header__info header__info-phone">+7 (812) 123 45 67</a>
			<div class="header__info header__info-worktime">Часы работы: <span>10:00 - 20:00</span></div>
		</div>
	</div>
	<div class="header header-full">
		<div class="wrapper">
			<a href="#" class="header__logo"></a>
			<div class="topmenu">
				<li class="topmenu__item topmenu__item-deeper">
					<a href="#">Услуги</a>
					<ul class="topmenu-under">
						<li class="topmenu-under__item"><a href="#">Волосы</a></li>
						<li class="topmenu-under__item"><a href="#">Ногти</a></li>
						<li class="topmenu-under__item"><a href="#">Брови</a></li>
						<li class="topmenu-under__item"><a href="#">Лицо</a></li>
						<li class="topmenu-under__item"><a href="#">Тело</a></li>
					</ul>
				</li>
				<li class="topmenu__item"><a href="#">Акции</a></li>
				<li class="topmenu__item"><a href="#">О салоне</a></li>
				<li class="topmenu__item"><a href="#">Команда</a></li>
				<li class="topmenu__item"><a href="#">Блог</a></li>
				<li class="topmenu__item"><a href="#">Галерея</a></li>
				<li class="topmenu__item"><a href="#">Контакты</a></li>
			</div>
			<div class="header__search">
				<input type="text">
			</div>
			<span class="header__callback">Записаться</span>
		</div>
	</div>
</header>